# Development Environment Variables
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_USER_SIDE_URL=http://localhost:3002
NEXT_PUBLIC_SOCKET_SERVER_URL=http://localhost:3002

# Production Environment Variables
# NEXT_PUBLIC_APP_ENV=production
# NEXT_PUBLIC_ADMIN_SIDE_URL=https://ttadmin.cybershoora.com
# NEXT_PUBLIC_USER_SIDE_URL=https://timetricx.cybershoora.com
# NEXT_PUBLIC_SOCKET_SERVER_URL=https://timetricx.cybershoora.com

# Core Config
MONGODB_URI=
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
